<p id="notice"><%= notice %></p>

<h1>قائمة الشركات</h1>

<table>
  <thead>
    <tr>
      <th> اسم الشركة </th>
      <th>اسم الوظيفة</th>
    <%#  <th>تفاصيل الوظيفة</th> %>
    <%#  <th>اسم مقدم الطلب</th> %>
    <%#  <th>رقم التواصل</th> %>
    <%#  <th>البريد الإلكتروني</th> %>
      <th>الجنسية</th>
      <th>الجنس</th>
      <th>العمر</th>
      <th>الإعاقة</th>
      <th>المستوى التعليمي</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.companyName %></td>
        <td><%= company.jobTitle %></td>
      <%#  <td><%= company.jobDescription %></td>
      <%#  <td><%= company.contactPerson %></td>
      <%#  <td><%= company.mobileNo %></td>
      <%#  <td><%= company.email %></td>
        <td><%= company.nationality %></td>
        <td><%= company.gender %></td>
        <td><%= company.age %></td>
        <td><%= company.disability %></td>
        <td><%= company.education %></td>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'ادخال شركة جديدة', new_company_path %>
