<p id="notice"><%= notice %></p>
<br>
<br>
<br>
<br>
<br>
<p class="fonty">
  <strong >اسم الشركة:</strong>
  <%= @company.companyName %>
</p>

<p class="fonty">
  <strong>المسمى الوظيفي :</strong>
  <%= @company.jobTitle %>
</p>

<p class="fonty">
  <strong>تفاصيل الوظيفة:</strong>
  <%= @company.jobDescription %>
</p>

<p class="fonty">
  <strong>اسم مقدم الطلب:</strong>
  <%= @company.contactPerson %>
</p>

<p class="fonty">
  <strong>رقم التواصل:</strong>
  <%= @company.mobileNo %>
</p>

<p class="fonty">
  <strong>البريد الالكتروني:</strong>
  <%= @company.email %>
</p>

<p class="fonty">
  <strong>الجنسية:</strong>
  <%= @company.nationality %>
</p>

<p class="fonty">
  <strong>الجنس:</strong>
  <%= @company.gender %>
</p>

<p class="fonty">
  <strong>متوسط العمر:</strong>
  <%= @company.age %>
</p>

<p class="fonty">
  <strong>نوع الإعاقة:</strong>
  <%= @company.disability %>
</p>

<p class="fonty">
  <strong>المستوى التعليمي:</strong>
  <%= @company.education %>
</p>
<br>
<br>
<p class="fonty floatR" >
<%= link_to 'تعديل', edit_company_path(@company)%> |
<%= link_to 'رجوع', companies_path %>
</p>