<% if user_signed_in? %>
  <li><%= link_to 'Edit account', edit_user_registration_path %></li>
  <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li class="navbar navbar-right"><%= link_to 'تسجيل الدخول', new_user_session_path %></li>
  <li class="navbar navbar-right"><%= link_to 'التسجيل', new_user_registration_path %></li>
<% end %>
<% if user_signed_in? %>
  <li><%= link_to 'Users', users_path %></li>
<% end %>
