<%# add navigation links to this file %>

<li><%= link_to 'الفعاليات القادمة', page_path('events') %></li>
<li><%= link_to 'الاخبار', page_path('news') %></li>
<li><%= link_to 'معرض الصور', page_path('gallery') %></li>
<li><%= link_to 'عن اللجنة', page_path('about') %></li>
<li><%= link_to 'تواصل معنا', page_path('contact') %></li>